* {
  font-family: cursive;
}

.container {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 1000px;
}

.logreg {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 2px 3px 5px gray;
}

.register-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 2px 3px 5px gray;
}

.login-form div {
  margin-bottom: 20px;
}

.register-form div {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px black;
  background-color: rgb(221, 239, 239);
}

textarea {
  padding: 5px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px black;
  background-color: rgb(221, 239, 239);
  margin-bottom: 20px;
}

button {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 4px 3px 8px black;
  font-weight: bold;
  background-color: goldenrod;
  cursor: pointer;
}

button:hover {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px white;
  font-weight: normal;
  background-color: goldenrod;
  cursor: pointer;
}

.error-text {
  color: red;
}

.logreg-topbar {
  margin: 0 auto;
  text-align: center;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 3px solid black;
  margin-bottom: 30px;
}

.col {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 2px 3px 5px gray;
}

.left-col input {
  margin-bottom: 20px;
}

.right-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 2px 3px 5px gray;
}

.page-title {
  text-align: center;
  margin-bottom: 50px;
}

.event-list {
  align-items: center;
  margin: auto;
  box-shadow: 2px 3px 5px gray;
  width: 750px;
  padding: 20px;
  border-radius: 5px;
}

.table-head {
  border: 2px solid black;
  width: 200px;
  box-shadow: 2px 3px 5px gray;
  font-size: 20px;
  background-color: goldenrod;
}

.table-content {
  text-align: center;
}

.table-data {
  box-shadow: 2px 3px 5px gray;
  padding: 8px;
  border-radius: 5px;
}

.edit-btn {
  text-decoration: none;
  color: black;
}

.delete-btn {
  margin-left: 10px;
}


