@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');

* {
  font-family: Arial;
}

.background {
  /* padding-top: 100px; */
  padding-bottom: 100px;
  background-size: cover;
  background-repeat: no-repeat;
}

.logreg-background {
  padding-bottom: 100px;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 800px;
}

.logreg {
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 100px; */
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 2px 3px 5px gray;
  background-color: #F8F8F8;
}

.register-form {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 3px 5px gray;
  background-color: #F8F8F8;
}

.login-form div {
  margin-bottom: 20px;
}

.register-form div {
  margin-bottom: 20px;
}


/* label {
  margin-right: 10px;
}

input {
  padding: 5px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px black;
  background-color: rgb(221, 239, 239);
} */

/* textarea {
  padding: 5px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px black;
  background-color: rgb(221, 239, 239);
  margin-bottom: 20px;
  border: 2px solid black;
} */

button {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 4px 3px 8px black;
  font-weight: bold;
  background-color: RGB(223,193,109);
  cursor: pointer;
}

button:hover {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px white;
  font-weight: normal;
  background-color: RGB(223,193,109);
  cursor: pointer;
}

.error-text {
  color: red;
}

.logreg-topbar {
  /* text-align: center; */
  margin-left: 200px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 20px; */
  background-color: 	rgb(40,40,40);
  color: white;
}

.top-bar-title {
  margin-left: 20px;
}

.font-link {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}

.top-bar-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
  width: 20%;
}

.col {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 2px 3px 5px gray;
  background-color:rgba(255,255,255, .8);
}

.left-col input {
  margin-bottom: 20px;
}

.right-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-radius: 3px;
  height: 208px;
  box-shadow: 2px 3px 5px gray;
  background-color:rgba(255,255,255, .8);
}

.mid-bar {
  background-color: rgb(56,56,56);
  position: relative;
  bottom: 20px;
  margin-bottom: 50px;
  color: white;
}

.event-list {
  align-items: center;
  margin: auto;
  box-shadow: 2px 3px 5px black;
  width: 750px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255,255,255, .8);
}

.table-head {
  border: 2px solid black;
  width: 200px;
  box-shadow: 2px 3px 5px gray;
  font-size: 20px;
  background-color: RGB(223,193,109);
}

.table-content {
  text-align: center;
}

.table-data {
  box-shadow: 2px 3px 5px gray;
  padding: 8px;
  border-radius: 5px;
}

.edit-btn {
  text-decoration: none;
  color: black;
}

.delete-btn {
  margin-left: 10px;
}

.content {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
  box-shadow: 2px 3px 5px black;
  background-color:rgb(245,245,245);
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-container {
  box-shadow: 2px 3px 5px gray;
  border-radius: 8px;
  background-color:rgba(255,255,255, .9);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 40px;
  width: 800px;
}

.form-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-mid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

.form-bottom {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-top input,
.form-mid input {
  padding: 20px;
  font-size: 20px;
  background-color: rgb(232,232,232);
}

.form-bottom textarea {
  font-size: 20px;
  background-color: rgb(232,232,232);
}

.view-col {
  display: flex;
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
}

.view-left,
.view-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
}

.landingContainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:	#D8D8D8;
  height: 100%;
  width: 100%;
  color: black;
}

.landingTop {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color:	#D8D8D8;
}

.landingBody {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.landingPic {
  font-weight: bold;
  margin-bottom: 40px;

}

